{:entity :repartidores
 :title "Repartidores"
 :table "repartidores"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 999
 :menu-icon "bi bi-table"
 
 :fields [
          {:id :id :label "ID" :type :hidden}
          {:id :nombre :label "Nombre" :type :textarea :required? true :placeholder "Nombre..."}
          {:id :telefono :label "Telefono" :type :text :placeholder "Telefono..."}
          {:id :activo :label "Activo" :type :textarea :required? true :placeholder "Activo..."}]
 
 :queries {:list "SELECT * FROM repartidores ORDER BY id DESC"
           :get "SELECT * FROM repartidores WHERE id = ?"}
 
 :actions {:new true :edit true :delete true}
 
 :subgrids [
            {:entity :pedidos
             :title "Pedidos"
             :foreign-key :repartidor_id
             :icon "bi bi-list-ul"
             :label "Pedidos"
             :relationship-type :one-to-many}]}
